<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <global>
        <models>
            <foo_bar><class>Foo_Bar_Model</class></foo_bar>
        </models>
    </global>

    <frontend>
        <events>
            <catalog_product_load_after>
                <observers>
                    <foo_bar>
                        <type>model</type>
                        <class>foo_bar/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </foo_bar>
                </observers>
            </catalog_product_load_after>
        </events>
    </frontend>
</config>